# MkDocs documentation site dependencies
# Install: pip install -r requirements-docs.txt
# Preview: mkdocs serve   (default: http://127.0.0.1:8000)
# Build:   mkdocs build   (produces the static site in site/)

mkdocs>=1.6.0
mkdocs-material>=9.5.0
mkdocstrings>=0.27.0
mkdocstrings-python>=1.13.0
mkdocs-autorefs>=1.4.0
